@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS LOGIN */

body {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #01d1fd, #2e04ff);
}

/* Container principal branco */
.container {
  width: 95%;
  height: 95vh;
  max-width: 1920px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 40px;
}

/* Área de Conteúdo */
.content {
  width: 100%;
  max-width: 400px;
  text-align: left;
  font-weight: 400;
  font-size:.875rem;
  line-height:1.25rem;
  margin-bottom:.25rem;
} 

/* Logo*/
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
}

.logo-section {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: #1f2937; 
  text-align: center;
}

/* Formulário centralizado */
.form-box {
  width: 100%;
  max-width: 400px;
  text-align: center;
  
}

/* Inputs */
input {
  width: 100%;
  padding: .75rem 1.25rem;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-size: .75rem;
  border-color: rgb(204 204 204 / var(--tw-border-opacity));;
  --tw-border-opacity: 1;
  border-width: 1px;
  box-sizing: border-box;
}

/* Botão de login */
button {
  width: 100%;
  padding: .75rem;
  border: none;
  background: blue;
  color: white;
  font-size: .875rem;
  line-height:1.25rem;
  border-radius: 1rem;
  font-weight:500;
  cursor: pointer;
  transition: background 0.3s ease;
  background: #2f00fe;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
      width: 90%;
      height: 95vh;
  }

  .form-box {
      width: 90%;
  }
}

@media (max-width: 480px) {
  h2 {
      font-size: 20px;
  }

  input, button {
      font-size: 14px;
      padding: 10px;
  }
}

/* CSS CHAT */

.container {
  width: 95%;
  height: 95vh;
  max-width: 1920px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 40px;
}

.sidebar {
  width: 18rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  font-weight: 500;
  font-size: 1.25rem;
  line-height:;
  margin-bottom: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
  display: flex;
  gap: 1rem; 
}

.sidebar-title {
  font-size: 1rem;
}

.sidebar-subtitle {
  font-size: 0.725rem;
  color: var(--gray-dark);
  position: absolute;
  /* font-weight: 500; */
  line-height:;
  margin-bottom: 1.5rem;
  position: absolute;
  top: 3rem;
  left: 2rem;
  display: flex;
  gap: 1rem; 
}

/* Main Content */

.title-chat {
  font-size: 4rem;
  font-weight: 200;
  color: var(--gray-dark);
  letter-spacing: 0.2rem;
}

.title-highlight {
  position: center;
  color: var(--blue-dark);
  font-weight: bold;
}

/* Search Bar */
.search-bar {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-dark);
  border-radius: 999px;
  padding: 0.75rem 1rem;
  width: 500px;
  justify-content:center;
  background: var(--gray-light);
}

.search-btn {
  background: grey;
  border: none;
  cursor: pointer;
}

.search-input {
  justify-content:center; 
  align-items:center;
}

/* Suggestions */
.suggestions {
  margin-top: 1.5rem;
  text-align: left;
  width: 500px;
}

.suggestions-title {
  font-size: 0.875rem;
  color: var(--text-dark);
}

.suggestions-container {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  background: grey;
}

.suggestion-btn {
  background: var(--gray-light);
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  cursor: pointer;
  width: 30%;
  border: none;
}

.suggestion-btn:hover {
  background: var(--gray-dark);
}

.suggestion-sub {
  font-size: 0.75rem;
  color: var(--gray-dark);
}

/* Top Icons */
.top-icons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}