@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #00C6FF, #0300A3);
}

/* CSS LOGIN */

/* Container principal branco */
.container {
  width: 90%;
  height: 95vh;
  max-width: 1920px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 40px;
}

/* Logo*/
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
}

.logo-section {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: #1f2937; 
  text-align: center;
}


/* Formulário centralizado */
.form-box {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: .75rem;
}

/* Botão de login */
button {
  width: 100%;
  padding: 12px;
  border: none;
  background: blue;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: darkblue;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
      width: 90%;
      height: 95vh;
  }

  .form-box {
      width: 90%;
  }
}

@media (max-width: 480px) {
  h2 {
      font-size: 20px;
  }

  input, button {
      font-size: 14px;
      padding: 10px;
  }
}
